doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,600&display=swap" rel="stylesheet")
        title NOOM
        style
            include style.css
    body 
        header
            div#title 
                h1 N👀M
        main 
            div#welcome
                form
                    input(placeholder="Room Name", type="text", required)
                    button(style="vertical-align:middle") 
                        span Enter Room
            div#cntrooms 
                h4 Open Rooms
                ul
            div#call
                div#info
                    h3 Room
                    button(style="vertical-align:middle") 
                        span + Nickname
                    div#nickForm
                        form.animate
                            div#close 
                                span x
                            div#container 
                                input(type="text", placeholder="Nickname", required)
                                button Save
                div#grid
                    div#myStream
                        h3 👻
                        video#myFace(autoplay, playsinline, width="400", height="400")
                        div#options
                            button#mute Mute
                            button#camera Turn Camera Off
                            select#cameras
                    div#peerStream
                        h3 👻
                        video#peerFace(autoplay, playsinline, width="400", height="400")
                        div#options
                            button#addMsg + Send Message
                div#chat 
                    div#scroll 
                    form
                        input(placeholder="message", required, type="text")
                        button(style="vertical-align:middle") Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")